
@{
    ViewData["Title"] = "DisplayEmail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Confirmation of the User Account via Email</h1>
<h4>Please enter the link sent to your email to confirm the registeration of the account</h4>

