
@{
    ViewData["Title"] = "VerifySuccess";
   
}

<h1>VerifySuccess</h1>
<div class="alert alert-info">

    <p>
        PhoneNumber succesfully confirmed.
    </p>
    <strong>
        Thank you for doing that.
    </strong>
</div>
<a href="~/">Main Page</a>

